{% extends "base.html" %}
{% block title %}404 Error{% endblock %}
{% block head %}
    <style type="text/css">
        #lightscreen{
            display:none;
        }
        #lightscreenform{
            display:none;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="margin:10% auto;width:640px;">
        <div style="margin:30px auto;text-align:center;">
            <h1><a style="color:#EEEEEE;text-decoration:none;" href="http://www.mysteamgauge.com">404</a></h1>
            <p style="font-style:italic;color:#B0AEAC;">Whoa there! Looks like you got turned around. Try finding what you're looking for over <a href="http://mysteamgauge.com">here</a>.</p>
        </div>
    </div>
{% endblock %}
